.contact_form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.contact_inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact_input {
    padding: .5rem ;
    width: 260px;
    border-radius: 5px;
    border: none;
}

.contact_message {
    width: 100%;
}
.contact_input__message{
    width: 100%;
    padding: .5rem ;
    border-radius: 5px;
}

.contact_button {
    padding: .5rem 1rem;
    background-color: rgb(var(--background-start-rgb));
    border-radius: 5px;
    border: none;
}